/*Especifidad: 001*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0008FF;
    color: #fff;
}
/*Especifidad: 002*/
header h1 {
    margin: 0;
}
/*Especifidad: 003*/
header nav a {
    color: #fff;
    background-color: #0008FF;
    text-decoration: none;
    margin-left: 15px;
}
/*Especifidad: 012*/
nav a.active {
    color: #ffcc00;
    background-color: #0008FF;
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 768px) {
    /*Especifidad: 001*/
    header {
        flex-direction: column;
    }
    /*Especifidad: 002*/
    header h1 {
        font-size: 1.2em;
    }
    /*Especifidad: 003*/
    header nav a {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    /*Especifidad: 001*/
    header h1 {
        padding: 10px;
    }
    .miga {
        display: none;
    }
}