/*Especificidad: 001*/
main {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625em;
    width: 90vw;
    height: 80vh;
    margin: auto;
    justify-items: center;
    align-items: center;
}
/*Especificidad: 002*/
main > h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    background-color: #000;
}
/*Especificidad: 002*/
main > div {
    aspect-ratio: 1;
    width: 90%;
    height: auto;
    border-radius: 50%;
    background-color: #5c5c5c;
    color: #000;
    border: 0.3125em solid #000;
    transition: background-color 0.3s;
}
/*Especificidad: 011*/
button:first-of-type {
    grid-column: 2;
    font-size: 2em;
}
/*Especificidad: 011*/
button:nth-of-type(2) {
    grid-column: 3;
    font-size: 2em;
}
/*Especificidad: 002*/
main > p {
    grid-column: 1 / -1;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #000;
    text-align: center;
}
/* Define la animación para encender las luces */
@keyframes encender {
    0% { background-color: #5c5c5c; color: #ffffff; }
    100% { background-color: #FF0000; color: #ffffff; }
}
/* Define la animación para apagar las luces */
@keyframes apagar {
    0% { background-color: #5c5c5c; color: #ffffff; } /*Redefinición de keyframes*/
    100% { background-color: #00FF00; color: #ffffff; } /*Redefinición de keyframes*/
}
/*Especificidad: 011*/
.load div {
    animation-name: encender;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
/*Especificidad: 021*/
.load div:nth-child(2) { animation-delay: 0s; }
/*Especificidad: 021*/
.load div:nth-child(3) { animation-delay: 1s; }
/*Especificidad: 021*/
.load div:nth-child(4) { animation-delay: 2s; }
/*Especificidad: 021*/
.load div:nth-child(5) { animation-delay: 3s; }
/*Especificidad: 011*/
.unload div {
    animation-name: apagar;
    animation-fill-mode: forwards;
    animation-duration: 0s;
}
/*Especificidad: 021*/
.unload div:nth-child(2) { animation-delay: 0s; }
/*Especificidad: 021*/
.unload div:nth-child(3) { animation-delay: 0s; }
/*Especificidad: 021*/
.unload div:nth-child(4) { animation-delay: 0s; }
/*Especificidad: 021*/
.unload div:nth-child(5) { animation-delay: 0s; }